


body {
    background-color: #ddd;
}




/*
display: flex; ...................... (aplica a propriedade flex no container)
flex-grow: ; ........................ (aumenta tamanho do elemento, deixando-o porporcionalmente MAIOR em comparação aos outros. Passando a preencher os espaços vazios)
flex-shrink: ; ...................... (reduz tamanho do elemento, deixando-o porporcionalmente MENOR em comparação aos outros)
flex-basis: ; ....................... (da o tamanho inicial do elemento, e o resto é preenchido pelo "flex-grow" e/ou "flex-shrink")
flex: <grow> <shrink> <basis>; ...... (SHORTHAND)
flex-direction: ; ................... (muda a direção do elemento individualmente - <row> <column>)
order: ; ............................ (muda a ordem do elemento individualmente)
justify-content: ; .................. (alinha os elementos no eixo principal)
align-items: ; ...................... (alinha os elementos no eixo secundário)
align-self: ; ....................... (alinha o elemento individualmente)
*/





--------------
/* FLEX BOX */
--------------

/*
body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 1000px;
    background-color: white;
}

.box {
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
} 
*/







----------------------------
/* FLEX BOX ( FLEX-GROW ) */
----------------------------

/*
body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 1000px;
    background-color: white;
}

.box {
    width: 100px;
    height: 100px;
    flex-grow: 1;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
    flex-grow: 3;
}

.third {
    background-color: blue;
    flex-grow: 15;
} 
*/







---------------------------------------------------------------
/* FLEX BOX ( FLEX-SHRINK E FLEX-BASIS ) OPOSTO DO FLEX-GROW */
---------------------------------------------------------------

/*
body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.box {
    height: 100px;
    flex-grow: 1;
    flex-basis: 500px;
}

.first {
    background-color: red;
    flex-shrink: 1;
}

.second {
    background-color: green;
    flex-shrink: 1;
}

.third {
    background-color: blue;
    flex-grow: 15;
    flex-shrink: 2;
} 
*/







--------------------------------------------------------------------
/* FLEX BOX ( FLEX-GROW, FLEX-SHRINK E FLEX-BASIS COM SHORTHAND ) */
--------------------------------------------------------------------

/*
body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.box {
    height: 100px;
    flex: 1 1 300px;
    /* <grow> <shrink> <basis> */
/*     
}

.first {
    background-color: red;
    flex: 2 1 auto;
    /* <grow> <shrink> <basis> */
/*
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}
*/







--------------------------------
/* FLEX BOX ( FLEX-DIRECTION) */
--------------------------------

/*
body {
    background-color: #ddd;
}

.container {
    width: 100%;
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: initial; */
    /* flex-direction: inherit; */
/*
}

.box {
    width: 100px;  /* DELETAR SE FOR USAR O "FLEX-BASIS" */
/*    height: 100px;
    /* flex-grow: 1; */
    /* flex-basis: 300px; */
/*
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}
*/







------------------------
/* FLEX BOX ( ORDER ) */
------------------------

/*
body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.box {
    height: 100px;
    flex-grow: 1;
    flex-basis: 300px;
}

.first {
    background-color: red;
    order: 3;
}

.second {
    background-color: green;
    order: 1;
}

.third {
    background-color: blue;
    order: 2;
}
*/







----------------------------------
/* FLEX BOX ( JUSTIFY-CONTENT ) */
----------------------------------

/*
body {
    background-color: #ddd;
}

.container {
    width: 100%;
    background-color: white;
    display: flex;
    /* ( POSICIONAR ELEMENTOS NA HORIZONTAL) */
    /* justify-content: flex-start; */   /* POSIÇÃO PADRÃO INICIAL */
    /* justify-content: flex-end; */
/*    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: initial; */
    /* justify-content: inherit; */
/*
}

.box {
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}
*/







------------------------------
/* FLEX BOX ( ALIGN-ITEMS ) */
------------------------------

/*
body {
    background-color: #ddd;
}

.container {
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;

    /* ( POSICIONAR ELEMENTOS NA HORIZONTAL) */
    /* justify-content: flex-start; */   /* POSIÇÃO PADRÃO INICIAL */
    /* justify-content: flex-end; */
/*    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: initial; */
    /* justify-content: inherit; */

    /* ( POSICIONAR ELEMENTOS NA VERTICAL ) */
    /* align-items: normal; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: stretch; */  /* SÓ FUNCIONA SEM HEIGHT DEFINIDO */
/*    align-items: center;
    /* align-items: flex-start; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: flex-end; */
    /* align-items: start; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: end; */
    /* align-items: baseline; */
    /* align-items: initial; */
    /* align-items: inherit; */
/*    
}

.box {
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}
*/







-----------------------------
/* FLEX BOX ( ALIGN-SELF ) */
-----------------------------

/*
body {
    background-color: #ddd;
}

.container {
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;

    /* ( POSICIONAR ELEMENTOS NA HORIZONTAL) */
    /* justify-content: flex-start; */   /* POSIÇÃO PADRÃO INICIAL */
    /* justify-content: flex-end; */
/*    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: initial; */
    /* justify-content: inherit; */

    /* ( POSICIONAR ELEMENTOS NA VERTICAL ) */
    /* align-items: normal; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: stretch; */  /* SÓ FUNCIONA SEM HEIGHT DEFINIDO */
/*    align-items: center;
    /* align-items: flex-start; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: flex-end; */
    /* align-items: start; */  /* POSIÇÃO PADRÃO INICIAL */
    /* align-items: end; */
    /* align-items: baseline; */
    /* align-items: initial; */
    /* align-items: inherit; */    
/*
}

.box {
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
    /* align-self: auto; */
    /* align-self: stretch; */
    /* align-self: center; */
/*    align-self: flex-start;
    /* align-self: flex-end; */
    /* align-self: baseline; */
    /* align-self: initial; */
    /* align-self: inherit; */
/*
}

.second {
    background-color: green;
    align-self: flex-end;
}

.third {
    background-color: blue;
}
*/


